.Container {
  display: flex;
  flex-direction: column;
  gap: 48px;
  margin: auto;
}

.MedalContainer {
  display: flex;
  gap: 36px;
}

.InputFile {
  max-width: 600px;
}

.SectionOne {
  display: flex;
  gap: 48px;

  .Profile {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
